html {
    height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}



@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'),
       url('../fonts/Karla-Regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  src: local('Karla Italic'), local('Karla-Italic'),
       url('../fonts/Karla-Italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local('Karla Bold'), local('Karla-Bold'),
       url('../fonts/Karla-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  src: local('Karla Bold Italic'), local('Karla-BoldItalic'),
       url('../fonts/Karla-BoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Karla';
}

.hidden {
	display: none;
}

.page-main,
.chat-main {
    display: flex;
    flex: 1 0 auto;
}

.page-main__inner,
.chat-main__inner{
    flex-grow: 1;
	position: relative;	
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	background: url(../img/triangle.png) no-repeat #00a0ff;
	background-position: 0px 3vh;
}

.page-main__popup {
	position: absolute;
	z-index: 3;
	width: 87vw;
	height: 72vw;
	top: 87vw;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%);
	background-color: #fff;
	border: 1px solid black;
}

.page-main__popup form {
    height: 100%;
}

.page-main__popup label,
.page-main__popup input {
    display: block;
    margin-left: 11vw;
}

.page-main__popup input {
    width: 67vw;
    height: 10.6vw;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid grey;
}

.page-main__popup label {
    margin-top: 11vw;
    color: #ad807d;
    font-size: 2.7vw;
    letter-spacing: 0.3vw;
}

.page-main__login {
    display: flex;
    flex-direction: column;
}

.page-main__submit {
    flex-grow: 1;
    margin-top: 7vw;
    background-color: #00a0ff;
}

.page-main__submit button {
    position: relative;
	padding-left: 61.5vw;
	margin-top: 5vw;
    font-size: 3.2vw;
    color: #fff;
    background-color: #00a0ff;
    border: none;
    cursor: pointer;
}

.page-main__submit button:before {
    position: absolute;
    left: 11vw;
    content: "";
    width: 2.0vw;
    height: 2.0vw;
    border: 2.0vw solid transparent;
    border-left: 2.5vw solid white;
}

.page-main__title {
	margin: 0;
	padding: 0;
    margin-top: 10vw;
    margin-left:-0.8vw;
    letter-spacing: -1vw;
	font-size: 28vw;
	color: white;
	font-weight: 700;
}

.page-main__logo {
    position: absolute;
    width: 27vw;
    margin: 0 auto;
    left: 50%;
    top: 35vw;
    margin-left: -13.5vw;
}

.page-header,
.page-footer {
    flex: 0 0 auto;
	width: 100%;
    max-width: 700px;
	margin: 0 auto;
	background-color: black
}

.page-footer {
    position: relative;
    min-height: 77vw;
}

.page-footer p {
    position: absolute;
    top: 66.8vw;
    left: 28.5vw;
	margin: 0;
	font-size: 10px;
	color: white;
}

.chat-main__message {
    position: relative;
	background-color: white;
	margin-top: 6.7vw;
	padding: 6.7vw;
	box-shadow: 0 1.3vw 1.3vw 0 rgba(100,100,100,0.5);
}

.chat-main__message img {
    position: absolute;
    width: 10.7vw;
    height: 10.7vw;
	box-shadow: 0 1.3vw 1.3vw 0 rgba(100,100,100,0.5);
}

.chat-main__message--sent {
	margin-left:6.7vw;
	margin-right: 17.4vw;
}

.chat-main__message--received {
    margin-left: 17.4vw;
	margin-right: 6.7vw;
}

.chat-main__message--received img {
    top:0;
    left: -11vw;
}

.chat-main__message--sent img {
    top:0;
    left: 76.2vw;
}

.chat-main__message--received .chat-main__author {
    text-align: right;
}

.chat-main__messages {
    max-height: 146vw;
    padding-bottom: 6.7vw;
    overflow-y: scroll;
}

.chat-main__header {
    min-height: 17vw;
    background-color: black;
    color: white;
    font-size: 3.5vw;
}

    
.chat-main__header p {
    position: relative;
    margin: 0;
    padding-top: 6.5vw;
    text-align: center;
}

.chat-main__back {
    position: absolute;
    z-index: 4;
    left: 5vw;
    top: 7vw;
    content: "";
    width: 2.0vw;
    height: 2.0vw;
    border: 2.0vw solid transparent;
    border-right: 2.5vw solid white;    
}

.chat-footer {
    position: relative;
    flex: 0 0 auto;
	width: 100%;
    max-width: 700px;
    min-height: 14.7vw;
	margin: 0 auto;
	background-color: black
}

.chat-footer__add-message button {
    position: absolute;
    left: 71vw;
    top: -7.1vw;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    border-width: 0;
    background: url("/chat/img/send.png") 50% 50% no-repeat #ffbdff;
    background-size: 5.3vw;
    outline: none;
    cursor: pointer;
}

.chat-footer__add-message button:hover {
    box-shadow: 0 0 5px 1px grey;
}

.chat-main__text {
    font-size: 4vw;
}

.chat-main .chat-main__author {
    margin-top: 2vw;
    font-size: 3vw;
    color: #ad807d;
    font-weight: bold;
}

.chat-main__message p {
    margin: 0;
    word-wrap: break-word;
}

.chat-footer__add-message input[type="text"] {
    background-color: black;
    color: white;
    font-size: 4vw;
    border-width: 0;
    margin-top: 2vw;
    margin-left: 8vw;
    outline: none;
}

@media (min-width: 700px) {
	body {
		max-height: 100vh;
		max-width: 57vh;
		min-width: inherit;
		margin: 0 auto;
	}
	
	.page-footer {
	    min-height: 43vh;
	}

	.page-main__title {
	    margin-top: 8.5vh;
	    margin-left:-0.5vh;
	    font-size: 15vh;
	    letter-spacing: -0.7vh;
	}
	
	.page-main__popup {
	    top: 49vh;
	    width: 49vh;
	    height: 41.5vh;
	}
	
	.page-main__popup input {
	    width: 37vh;
	    height: 6vh;
	    margin-left: 6vh;
	}
	
	.page-main__popup label {
	    font-size: 1.5vh;
	    margin-left: 6vh;
	    margin-top: 6vh;
	    letter-spacing: 0.2vh;
	}
	
	.page-main__submit {
	    margin-top: 4vh;
	}
	
	.page-main__submit button {
	    margin-top: 3.5vh;
	    padding-left: 31.5vh;
        font-size: 1.8vh;
        letter-spacing: 0.1vh;
	}
	
    .page-main__submit button:before {
        content: "";
        left: 5vh;
        width: 1vh;
        height: 1vh;
        border: 1vh solid transparent;
        border-left: 1.5vh solid white;
    }
	
	.page-main__logo {
	    top: 22vh;
	    width: 15vh;
	    margin-left: -7.5vh;
	}
	
	.page-footer p {
	    top: 37.5vh;
        left: 16vh;
	}
	
    .chat-main__header {
        min-height: 9.5vh;
        font-size: 2vh;
    }
    
    .chat-main__header p {
        padding-top: 4vh;
    }
    
    .chat-main__back {
        content: "";
        left: 5vh;
        top: 4vh;
        width: 1vh;
        height: 1vh;
        border: 1vh solid transparent;
        border-right: 1.5vh solid white;
    }
    
    .chat-footer {
        min-height: 8.2vh;
    }
    
    .chat-main__messages {
        max-height: 82vh;
        padding-bottom: 3.7vh;
    }
    
    .chat-main__text {
        font-size: 2.25vh;
    }
    
    .chat-main .chat-main__author {
        font-size: 1.5vh;
        margin-top: 1.1vh;
    }   
    
    .chat-main__message {
        margin-top: 3.7vh;
    	padding: 3.7vh;
    	box-shadow: 0 1.7vh 1.7vh 0 rgba(100,100,100,0.5);
    }
    
    .chat-main__message--sent {
    	margin-left: 3.7vh;
    	margin-right: 9.7vh;
    }
    
    .chat-main__message--received {
    	margin-right: 3.7vh;
    	margin-left: 9.7vh;
    }
    
    .chat-main__message img {
        position: absolute;
        width: 6vh;
        height: 6vh;
    	box-shadow: 0 1.7vh 1.7vh 0 rgba(100,100,100,0.5);
    }
    
    .chat-main__message--received img {
        top:0;
        left: -6vh;
    }
    
    .chat-main__message--sent img {
        top:0;
        left: 40.8vh;
    }
    
    .chat-footer__add-message input[type="text"] {
        margin-top: 3vh;
        margin-left: 10vh;
        font-size: 2.3vh;
    }
    
    .chat-footer__add-message button {
        left: 44vh;
        top: -4vh;
        width: 9vh;
        height: 9vh;
        background-size: 3vh;
    }
}
